.head {
    background-color: rgb(29, 29, 29);
    border-radius: 30px;
    margin: 2% 5%;
    padding-top: 20px;
}


.head-data {
    color: white;
}

.head-data h1 {
    font-family: 'Proza Libre', sans-serif;
    font-size: 50px;
    margin-bottom: 0%;
}

.heading-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);


}

.heading-img .head-data {
    margin-left: 100px;
}

.heading-img .head-img img {
    margin-left: 180px;
}


.head-data p {
    margin-bottom: 30px;
}

.head-data a {
    text-decoration: none;
    color: white;
    background-color:
        #DD0000;
    padding: 7px 10px;
    border-radius: 20px;

}

.head-data a:hover {
    padding: 7px 30px;
    transition: 1s;

}

.head-data p,
a {
    font-family: 'Roboto', sans-serif;

}

.fa-circle-arrow-right {
    color: white;
}

/* -------------media quaries-------- */
/* ------------mobile devices---------- */

@media only screen and (max-width:688px) {
    .head .heading-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .heading-img .head-data {
        margin: 0 4%;
    }

    .head-data a {
        margin-top: 30%;
        margin-left: 30%;
    }

    .head-data p {
        text-align: center;
        margin-bottom: 10%;
    }

    .head-data h1 {
        text-align: center;
    }

    .heading-img .head-img img {
        width: 95%;
        margin-top: 10%;
        margin-left: 3%;

    }
}

/*-------------heading quary ipad start --------  */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .head .heading-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .heading-img .head-data {
        margin: 0 4%;
    }

    .head-data a {
        margin-top: 30%;
        margin-left: 30%;
    }

    .head-data p {
        text-align: left;
        margin-bottom: 10%;
    }

    .head-data h1 {
        text-align: left;
    }

    .heading-img .head-img img {
        width: 95%;
        margin-top: 10%;
        margin-left: 3%;

    }


}

/*-------------heading quary ipad end --------  */

/* -----------head section end---  */
.upcoming {

    height: 250px;
    width: auto;
    text-align: center;
    padding: 20px;
    background-color:
        #161616;
    margin-left: 3%;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.upcoming .upcoming1 a h4 {
    color: rgb(250, 250, 250);
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
}

.upcoming .upcoming1 a {

    text-decoration: none;
}

.upcoming .upcoming1 a h4:hover {
    cursor: pointer;
    font-size: 15px;
    color: rgb(5, 5, 5);
    background-color: white;

}

.upcoming .upcoming1 a h4 {
    color: black;
    background-color: rgb(252, 5, 5);
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section2 {
    margin-top: 5%;
}

.head2 {
    display: flex;
    justify-content: space-between;

}

.timing {
    display: flex;
    justify-content: space-around;
}

.time a {
    text-align: left;
}

.img-info-head {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
    margin-left: 10px;
    margin-right: 80px;

}

.img-info {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
}

.img-info h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img-info button,
h3 {
    margin-left: 15px;
}

.img-info a button {
    margin-top: 10px;
}

.img-info a button:hover {
    cursor: pointer;
    font-size: 15px;
    font-weight: 10px;

}

.timing .chat a {
    margin-right: 70px;
}

.timing,
.time .chat {
    color: rgb(77, 4, 126);
    margin-bottom: 10px;
    margin-right: 40px;
}

/* ---------section2 part1 mobile device query start--------  */
@media only screen and (max-width:688px) {
    .head2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .img-info-head {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 5%;
    }

    .upcoming {
        justify-content: center;
        align-items: center;
        margin: 2% 5%;

    }
}

/* ---------section2 part1 mobile device query end--------  */
/* ---------section2 part1 ipad query start--------  */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .head2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .upcoming {
        justify-content: center;
        align-items: center;
        margin: 2% 6%;
    }

    .img-info-head {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 1%;
    }

}

/* ---------section2 part1 ipad query end--------  */


/* -------------------section2 part 2 mobile quary start---------  */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .img-info-head {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }

    .img-info {
        justify-content: center;
        align-items: center;
    }

    .timing {
        margin: 0 auto;
    }
}



/* -------------------section2 part 2 mobile quary end---------  */
/* =================================== */
/* -------------------section2 part 2 ipad quary start---------  */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .img-info-head {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }

    .img-info {

        justify-content: center;
        align-items: center;
    }

    .timing {
        margin: 0 auto;
    }

}

/* -------------------section2 part 2 ipad quary end---------  */
/* ________flag section--------  */
.flag-section {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 10px;
    margin-right: 5%;
}

.vs {
    font-family: 'Open Sans';
    border: 1px solid rgb(218, 218, 218);
    border-radius: 15px;
    padding: 20px;

}

.for {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vs h4 {
    margin: 0 10px;
}

.vs h1 {
    margin-top: 10px;
    text-align: center;
}

.vs p {
    text-align: center;
}

/* ________flag section media quary--------  */
@media only screen and (max-width:688px) {
    .flag-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .flag-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* -----------button---- */
.viewall {
    font-family: 'Open Sans';
    background-color: #DD0000;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 42%;
    margin-right: 45%;
    border-radius: 20px;
}

.viewall:hover {
    transition: 1s;
    padding: 10px 30px;
}

.viewall a {
    font-family: 'Open Sans';
    text-decoration: none;
    color: white;
    text-align: center;
}

@media only screen and (max-width:688px) {

    .viewall {
        margin-left: 30%;
        margin-right: 60%;
        padding: 10px 60px;
        justify-content: center;
        align-items: center;
    }
}

/* ---------footer section--- */
footer {
    color: white;
    background-color: #161616;
    font-family: 'Open Sans';
    margin-top: 50px;
    text-align: center;
    padding: 100px 0px;
}

footer hr {
    width: 90%;
    opacity: 40%;
}

.menuli {
    display: flex;
    margin-left: 25%;
    margin-bottom: 50px;
    margin-top: 30px;
}

.menuli .privacy a {
    color: beige;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;

}

.privacy a {
    margin: 0 10px;
}

.privacy a:hover {
    cursor: pointer;
    color: aquamarine;
    letter-spacing: 2px;
    transition: 1s;
}

footer h1 span:hover {
    border-radius: 40px;
    transition: 1s;
    color: #DD0000;
    padding: 0 15px;
    background-color: rgb(255, 238, 143);

}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sicons i {
    color: aliceblue;
    margin: 0 10px;
    font-size: 25px;
}

.sicons i:hover {
    cursor: pointer;
    color: rgb(108, 108, 248);

    @media only screen and (max-width:688px) {
        footer {
            text-align: center;
            width: 100%;
        }

        hr {
            width: 90%;
        }

        h1 span {
            justify-content: center;
            align-items: center;
        }

        li .lii {
            display: grid;
            grid-template-rows: repeat(1, 1fr);
            margin: 0 50px;
        }
    }
}

@media only screen and (max-width:688px) {
    footer {
        width: 100%;
    }

    h1 {
        text-align: center;
    }

    .menuli {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        margin-left: 15px;

    }

    .menuli .privacy a {
        margin-bottom: 30px;
        font-size: 15px;
    }

}

@media only screen and (min-width: 688px) and (max-width: 992px) {
    footer {
        width: 100%;
    }

    h1 {
        text-align: center;
    }

    .menuli {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
    }

    .menuli .privacy a {
        margin-bottom: 30px;

    }
}